<po-page-list
  p-title="Usuários"
  [p-filter]="filterSettings"
  [p-actions]="actions"
>
  <po-list-view
    p-property-title="nome"
    [p-actions]="listActions"
    [p-items]="items"
    [p-literals]="customLiterals"
  >
    <ng-template p-list-view-content-template let-item>
      <div class="po-row">
        <po-info
          class="po-md-6"
          p-label="Endereço"
          [p-value]="item.endereco"
        ></po-info>
        <po-info
          class="po-md-6"
          p-label="Número"
          [p-value]="item.numero"
        ></po-info>
        <po-info
          class="po-md-6"
          p-label="Complemento"
          [p-value]="item.complemento"
        ></po-info>
        <po-info
          class="po-md-6"
          p-label="Telefone"
          p-value="{{ item.telefone | phone: 'BR' }}"
        ></po-info>
        <po-info
          class="po-md-6"
          p-label="Email"
          [p-value]="item.email"
        ></po-info>
        <po-info
          class="po-md-6"
          p-label="Papel"
          [p-value]="getDescPapel(item.papel)"
        ></po-info>
      </div>
    </ng-template>
  </po-list-view>
  <div>
    <po-loading-overlay [hidden]="isHideLoading"></po-loading-overlay>
  </div>
</po-page-list>

<po-modal
  #excluirModal
  [p-primary-action]="confirm"
  [p-secondary-action]="close"
  p-title="Excluir"
>
  Deseja realmente excluir o item?
</po-modal>
