<po-page-default p-title="Meus dados">
  <div class="po-row">
    <div class="po-md-12 po-text-center po-font-text">
      Preencha seus dados para conseguir agendar qualquer tipo de serviço
    </div>
  </div>

  <form [formGroup]="formDados">
    <div>
      <po-loading-overlay [hidden]="isHideLoading"></po-loading-overlay>
    </div>
    <div class="po-row po-mt-3 po-mt-sm-1">
      <div class="po-md-6 po-offset-md-3 po-offset-lg-3 po-offset-xl-3">
        <po-input
          formControlName="nome"
          p-label="Nome"
          p-help="Nos diga seu nome"
          p-clean
          p-icon="po-icon-user"
        >
        </po-input>
        <po-input
          formControlName="endereco"
          p-label="Endereço"
          p-help="Rua, avenida, bairro, cidade"
          p-clean
          p-icon="po-icon-pin"
        >
        </po-input>
        <po-number formControlName="numero" p-label="Número" p-clean>
        </po-number>
        <po-input
          formControlName="complemento"
          p-label="Complemento"
          p-help="Bloco, Apartamento"
          p-icon="po-icon-pin"
          p-clean
        >
        </po-input>

        <po-input
          formControlName="telefone"
          p-label="Telefone"
          p-mask="(99) 99999?-9999"
          p-placeholder="(99) 99999-9999"
          p-help="Telefone para contato"
          p-icon="po-icon-telephone"
          p-clean
        >
        </po-input>
      </div>
    </div>
  </form>

  <div class="po-row">
    <po-button
      class="po-md-6 po-offset-md-3 po-offset-lg-3 po-offset-xl-3"
      p-type="primary"
      p-icon="po-icon-ok"
      p-label="Salvar"
      [p-loading]="loadingConfirmar"
      [p-disabled]="!formDados.valid"
      (p-click)="saveDados()"
    >
    </po-button>
  </div>
</po-page-default>
